* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  text-align: center;
}
#title {
  padding-top: 20px;
}
form {
  padding: 20px;
  display: block;
}
#roll {
  background: #fff;
  cursor: pointer;
  width: 55px;
  border-radius: 8px;
}
span {
  text-align: center;
}
table {
  padding-left: 45%;
}
td,
tr {
  text-align: left;
}
