* {
  font-family: "poppins", sans-serif;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  text-align: center;
  background-color: #e3f1ff;
}
#title {
  padding-top: 20px;
}

form {
  padding: 20px;
  display: block;
}
#roll {
  background: #fff;
  cursor: pointer;
  width: 55px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#diceTable {
  border-collapse: collapse;
  width: 50%;
}

#diceTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: 100px;
}
